{% extends 'BlogBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>О нас</h1>
    </header>
    <article>
        <p>Этот блог посвящен миру мобильных технологий. Все новости здусь!</p>
    </article>
{% endblock %}