{% form_theme form 'bootstrap_3_layout.html.twig' %}
<form action="{{ path('BlogBlogBundle_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" {{ form_enctype(form) }} class="blog">
    <div class="row">
        <div class="col-md-6">{{ form_widget(form) }}
            <p>
                <input type="submit" value="Отправить!">
            </p></div>

    </div>

</form>